<h2><%= @book.title %></h2>
<%= image_tag @book.photo.url %>

<ul>
  <li><%= @book.author %></li>
  <li><%= @book.publisher %></li>
  <li><%= @book.year_published %></li>
</ul>
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Delete', @book, method: :delete %>
