<h2>Users</h2>

<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.username, user %></li>
    <li><%= user.id %></li>
    <li><%= user.username %></li>
    <li><%= "#{user.first_name} #{user.last_name}" %></li>
    <li><%= user.password_digest %></li>
  </ul>

  <% if current_user && current_user.id == user.id %>
    <%= link_to 'edit', edit_user_path(user) %>
    <%= link_to 'remove', user_path(user), method: :delete %>
  <% end %>

<% end %>
